* {
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #245175f5;

}

.container {
    width: 300px;
    text-align: center;
    position: absolute;
    top: 100px
}

#inputfield {
    border-radius: 50px;
    height: 30;
    outline: none;
    text-align: center;
    background-color: #5b679cdc;
    border: none;
    font-size: large;
    color: #b36bee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#btn {
    border-radius: 50px;
    height: 30px;
    outline: none;
    border: none;
    background-color: #5b679cdc;
    font-weight: bolder;
}

.todoclass {
    font-size: x-large;
    margin-bottom: -15px;
    color: #cf9a27;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    text-align: left;
    margin-left: 20px;
}

i {
    position: absolute;
    right: 30px;
}
